body {
    background-color: whitesmoke;
    background-size: cover;
    font-family: sans-serif;
    color: white;
}

/*.logo-icon*/
.icon {
    width: 84px;
    margin-right: -12px;
    margin-left: 5px;
}
/* header */
.header{
    width: 100%;
    background-color: #90ccff;
}
.opacity {
    opacity: 0.60;
}
.footer{
    padding: 10px;
    height: 130px;
    margin-top: 11%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #babdc2b3;
    color: black;
    text-align: center;
    float: right;
}
/* navigation-bar */
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-image: url(images/navbar3.jpg);
    font-weight: bold;
    color: black;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a {
    color: inherit;
}
.active {
    color: black;
}
li a:hover{
    color: darkred;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #4c5666;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #4c5666 transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Arrows */
.fa-arrow-circle-up, .fa-arrow-circle-right, .fa-arrow-circle-down, .fa-stop-circle, .fa-arrow-circle-left {
  font-size: 77px;
  position: relative;
}
.arrows {
    text-align: center;
    color: red;
    float: left;
}
/* pics */
.nao-move-pic {
    float: left;
    margin-right: 7em;
    margin-left: 2em;
}

/* containers */

/* container-home */
.back {
    background-color: white;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.67);
    text-align: center;
    margin: auto;
    width: 58%;
    margin-left: 18%;
    padding: 10px;
    color: black;
    border-radius: 10px;
    display: inline-block;
}
.back-info{
    background-color: white;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.67);
    text-align: center;
    float: right;
    width: 20%;
    padding: 10px;
    color: black;
    border-radius: 10px;
    display: inline-block;
}
.columns{
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
}
/* container-speak */
.balk1 {
    width: 60%;
    height: 40%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    background-image: url(images/chat.jpg);
    padding: 20px;
    margin-bottom: 3%;
    border-style: double;
    box-shadow: -1px -1px 20px 1px #6e7887;
}
.balk1:hover {
    animation-name: example1;
    animation-duration: 6s;
}
/* container-add */
.container-add {
    width: 40%;
    height: 40%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 3%;
    border-style: double;
    box-shadow: -1px -1px 20px 1px #6e7887;
    background-color: white;
}
.container-add:hover {
    animation-name: example1;
    animation-duration: 6s;
}
.w3-container{
    content:"";
    clear:both;
    color: black;
}

/* Buttons */
.button {
    background-color: #d6d6c2; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    max-width: 100%;
}
.button1 {
    color: black;
    border: 2px solid #f44336;
    border-radius: 12px;
}

.button1:hover {
    background-color: #f44336;
    color: white;
}
.button-info {
    color: black;
    border: 2px solid #209cee;
    border-radius: 12px;
}

.button-info:hover {
    background-color: #209cee;
    color: white;
}
.buttonSpeak {
    color: black;
    border: 2px solid blue;
    border-radius: 5px;
}

.buttonSpeak:hover {
    background-color: #717d91;
    color: white;
}
.buttonAdd {
    background-color: #62d962;
    color: black;
    border: 2px solid #00000096;
    border-radius: 5px;
}

.buttonAdd:hover {
    background-color: #3b753b;
    color: white;
}
.buttonlogin{
    background-color: #1566a2;
}
.buttonlogin:hover {
    background-color: #143a56;
}
/* input & textarea */
.textarea-speak{
    width: 500px;
    height: 150px;
    max-width: 100%;
}
.textarea-add{
    width: 500px;
    height: 150px;
    max-width: 100%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.w3-input[type=text]{
    padding:8px;
    display:block;
    width:30%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) login*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    color: black;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 10%;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.loginbutton {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.loginbutton:hover {
    opacity: 0.8;
    background-color: dodgerblue;
    color: white;
}

/* labels */
.login-false{
    color: red;
}
.nao{
    float: right;
    text-align: center;
    border-radius: 15px 50px 30px 5px;
}

/* table-patients */
table {
    width:50%;
    margin: auto;
    color: black;
    box-shadow: -1px -1px 20px 1px #6e7887;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
/* Side-nav */
#sidebar1{
    font-size:30px;
    cursor:pointer;
    text-decoration: underline red;
    color: white;
    background-color: #973030;
    margin-top: 10px;
    padding: 9px;
    position: relative;
    top: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
